# ".vscode" would not match xx/xx/.vscode
.vscode/**

lib/vscode.d.ts/*.d.ts

docs/**
test/**
tests/**
__tests__/**

logs/**
diagnose.log

images/screenshots/**

*.map
*.tsbuildinfo

node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/examples/**
node_modules/**/docs/**
node_modules/**/.bin/**
node_modules/**/.cache/**
node_modules/**/.github/**
node_modules/**/.vscode/**

TODO.md

database

npm-debug.log*
.eslintrc.json

DEBUG_SIGN_FILE

# any archives
*.7z
*.zip
*.tgz
*.tar
*.vsix

.agents/**
.idea/**
.fleet/**
.history/**
.DS_Store
Thumbs.db
